<!DOCTYPE html>
<html>

<%- include header.ejs %>

<body id="box">

    <%- include topnav.ejs %>

    <div id="note">
    <p>
        Initialise drink mixer?
    </p>
    </div>

    <form action="/init" method="POST">
        <input id="init" class="initialiser" type="submit" value="Initialise drinkmixer">
    </form>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();
        socket.on('data', (data) => {
            if (data.state == "Init") {
                document.getElementById("init").style.display = "none";
                document.getElementById("note").innerHTML = "Initialising drink mixer...";
            } else {
                document.getElementById("init").style.display = "block";
                document.getElementById("note").innerHTML = "Initialise drink mixer?";
            }
            console.log(data);
        })
    </script>
</body>

</html>