<header class="topnav">
    <a <% if (page === "index") { %>  class="active" <% } %> href="/">Order</a>
    <a <% if (page === "init") { %>  class="active" <% } %> href="/init">Initilize</a>
    <a <% if (page === "drinks") { %>  class="active" <% } %> href="/drinks">New drink</a>
</header>

<h1 id="title">Drinkmixer</h1>
